# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.npm
.yarn-integrity
.env*

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
*.pid

*.OLD
python-server/dynamic_functions/*

python-server/dynamic_functions copy/*

!python-server/dynamic_functions/Home
!python-server/dynamic_functions/Games
!python-server/dynamic_functions/Data
python-server/dynamic_functions/.gitignore

python-server/dynamic_servers/*
!python-server/dynamic_servers/weather.json
python-server/runServer?*

log/

*.db
python-server/**/*.json
python-server/**/*.log

python-server/dynamic_functions/Data/players/*/
