
# rules
- plan work first
- do work
  - verify between steps
- verify against plan
- ask before modifying existing files
- ask before installing new packages, try to stick to existing packages
- use meaningful logging so we can debug (quality over quantity)
- ignore lint errors unless they are critical

# overview
- this is a simple mcp (model context protocol) npx client and two server implementations: python and node
- each server has built in tools for adding new dynamic tools.functions on the fly (code is placed into the dynamic_functions folder)
- each server has task capability (which is mostly about parameter passing) which is still in-work
- we use the term dynamic tool and function interchangeably although mcp prefers tool
- ignore node-server folder for now
- the python mcp sdk is located at /Users/reinman/work/mcp/python-sdk

# dynamic functions
- dynamic functions are stored in the dynamic_functions folder
- dynamic functions are written in pure python, no mcp artifacts or dependencies
- dynamic functions can still be stored and retrieved even if invalid so the user can work errors, but they must be valid ofc for running
